.cuerpo{
    max-width: 375px;
    height: 65px;
    margin: auto;
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}
.b2{
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.c1{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 10px;
    font-size: 20px;
    font-family: fantasy;
}